<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>jspfiles.loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet1</servlet-name>
        <servlet-class>loginservlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createaccount</servlet-name>
        <servlet-class>createaccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>singup</servlet-name>
        <servlet-class>singup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addproductservlet</servlet-name>
        <servlet-class>addproductservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpasswordservlet</servlet-name>
        <servlet-class>forgotpasswordservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>admin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet1</servlet-name>
        <url-pattern>/loginservlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createaccount</servlet-name>
        <url-pattern>/createaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singup</servlet-name>
        <url-pattern>/singup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addproductservlet</servlet-name>
        <url-pattern>/addproductservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpasswordservlet</servlet-name>
        <url-pattern>/forgotpasswordservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
